*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    background-color: #b4b2b2;
}

.navbar{
    color: #00ff33;
}

.nav-brand{
    color: #00ff33;
}

.carousel-item{
    height: 32rem;
}

.featured h4{
    color: #2ec64d;
}

.depoimentos{
    display: flex;
    justify-content: center;
} 

.depoimentos .card{
    margin: 1rem;
}

.text{
    text-align: center;
    padding: 6rem 0 2rem 0;
    transform: translateY(30px);
}

.contact{
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-bottom: 50px;
}

.contact .mb-3 .form-control{
    width: 23rem;
}

.contact-btn{
    display: flex;
    justify-content: center;
    background-color: #686868;
    padding: 50px;
}

.contact-btn a{
    border: 3px solid #00ff33;
    padding: 12px 30px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
}

.contact-btn a:hover{
    background-color: black;
    color: #00ff33;
    cursor: pointer;
    border: 3px solid black;
    transition: all 0.5s ease;
}

.hero .btn{
    transform: translate(400px, 50px);
}

.hero .btn:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: #00ff33;
    border: 2px solid;
    transition: all ease-in .5s;
}

.description .text{
    margin: 1rem 0 3rem;
    display: flex;
    text-align: justify;
    align-items: center;
}

.subdesc{
    margin: 1rem 0 3rem;
    padding: 0 70px 0 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.contact button{
    margin-top: 1rem;
}

.marketing .row img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.lala{
    background-color: #686868;
    padding-top: 30px;
    color: #fff;
}

.lalala .btn-align {
    display: flex;

    background-color: #00ff33;
}
.lalala .btn-align a{
    background-color: aqua;
}

.fw-normal{
    margin-top: 10px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */

.footerdiv{
    position: relative;
    bottom: 0;
    width: 100%;
    margin: auto auto;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

footer .mb-4 .btn{
    font-size: large;
    color: #00ff33;
}